*{
    font-family: 'Roboto Mono', monospace;
}

section{
    margin-bottom: 25px;
}

.jumbotron{
    background: black;
    width: 100%;
}

.display-4{
    color: white;
    letter-spacing: 1em;
}

.lead{
    color: blanchedalmond;
    font-size: 24px;
    letter-spacing: 0.3em;
}

hr{
    border: 8px solid white;
}